@media screen and (max-width: 760px) {
    
    header{
        flex-direction: column;
    }

    main{
        flex-direction: column;
    }


    .logo{
        display: none;
    }

    .rodape{
        margin-top: 150px;
    }
}